.story-list {
    padding: 0 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 16px 0;
}

.footer div {
    display: flex;
    align-items: center;
}

.footer div p {
    color: gray;
    margin: 0 1rem;
}

.footer div span {
    color: black;
}
