.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--black-text-color);
}

.header nav {
    color: var(--white-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}
